button , button:focus{
  outline:none;
}

.App aside{
  float: left;
  width: 200px;
  height: 650px;
  border-right: 1px solid #000;
  display: flex;
  flex-flow: column;
}
.App aside button{
width: 150px;
margin: 10px auto;
}

.App #moving{
  width: 750px;
  height: 650px;
  margin-left: 200px;
  position: relative;
}

.App #moving button{
  position: absolute;
}